*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* start utility class */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    margin: 0 auto;
}
button{
    background-color: rgb(54, 95, 230);
    color: white;
    font-size: 15px;
    padding: 6px;
    border: none;
}
.title-section{
    width: 100%;
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-left: 5px;
}


/* end utility class */

.bar-nav{
    padding: 5px;
}
.fl-left{
    float: left;
}
.fl-right{
    float: right;
}
.bar-text > li{
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
}
.container-jumbo{
    background-color: rgb(124, 167, 223);
}
.centro{
    margin-left: 80px;
    padding-left: 70px;
}
    
.title{
    padding-left: 70px;
    padding-top: 10px;
    font-size: 40px ;
}
.text-jumbo{
    padding-left: 70px;
    width: 30%;
    font-size: 15px;
    padding-top: 20px;
    
}
.img-jumbo{
    height: 400px;
    padding-top: 20px;
    margin-bottom: -60px;
    padding-left: 40px;
    margin-top: 25px;
}
.arrow{
  font-size: 25px;
}

/* start section 1 */
.container-main{
    max-width: 70%;   
    margin: 0 auto;
}

.bottoni{
    margin: 10px;
    margin-bottom: 10px;
    padding-left: 5x;
}
.button-left{
    margin-left: 20px;
}
.blocco{
    width:  calc(100% / 3 - 20px);
    margin: 10px;
    border: 1px lightgrey solid;
}
.colonna{
    padding: 20px;
    line-height: 30px;
}
.title-box{
    height: 40px;
    padding-top: 5px;
    padding-left: 90px;
    text-align: center;
    border-bottom: 1px lightgrey solid;
}
.icon-title{
    width: 25px;
}

.ul-box{
    list-style: none;
    font-size: 15px;
    line-height: 30px;
}
.icon-folder{
    width: 15px;
    margin: 5px;
}
.icon-pen{
    width: 30px;
    margin-top: 15px;
}
.text-list-2{
    width: 88%;
    font-size: 14px;
    line-height: 20px;
    margin: 11px 0px;
}
.text-list{
    width: 80%;
    line-height: 20px;
}
.bottoni-main{
    width: 100%;   
}
.ul-box li:first-child{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}
/* start section 2 */

.box-section-2{
    height: 150px;
    margin: 30px 10px;
    border: 1px lightgrey solid;
}
.list-box-section-2{
    width: 78%;
    line-height: 30px;
    font-size: 14px;
    margin: 10px;

}
.button-section-2{
    width: 19%;
    font-size: 40px;
    margin-right: 7px;
}

/* start section 3 */

.img-section-3{
    width: calc(100% / 2 );
    padding-left: 11px;
    
}
.text-section-3{
    width: calc(100% / 2 );
    height: 100%;
}

.container-section-3{
    padding: 80px;
}
.container-section-3 h3,p{
    margin: 20px 0px;
}
.container-section-3 button{
    font-size: 15px;
    background-color: white;
    color: black;
    border: 1px black solid;
}

/* start section 4 */

.container-section-4{
    width: calc(100% / 3 - 40px);
    margin: 20px;
    height: 500px;
}
.cont-img-section-4{
    text-align: center;
}
.img-section-4{
    width: 80%;
    margin-bottom: 10px;
}
.text-section-4{
    padding: 0px 30px;
}

/* start section 5 */
.section-5 h1{
    line-height: 40px;
}
.section-5 div{
    margin: 30px 7px;
}
.color-box{
    width: calc(100% / 3);
    height: 400px;
    margin-top: 30px;
}
#box{
    width: calc(100% / 2);
    height: 50%;
}

/* box colorati */
.box-son-1{
    background-color:rgb(162,211,155);
    text-align: center;
}
.img-box-1{
    width: 70%;  
    filter: invert(); 
    position: relative;
    top: 40%;
}
.img-no-color{
    width: 25%;
    position: relative;
    top: 7%;
    left: 6%;
}
.hr-no-color{
    width: 10%;
    position: relative;
    top: 12%;
    left: 7%;
    
}
.text-no-color{
    font-size: 15px;
    width: 91%;
    position: relative;
    top: 25%;
    left: 6%;
}


.box-son-2{
    background-color:rgb(97,8,43);
    text-align: center;
}
.img-box-2{
    width: 50%;  
    filter: invert(); 
    position: relative;
    top: 30%;
}
.box-son-3{
    background-color:rgb(0,147,206);
    text-align: center;
}
.img-box-3{
    width: 70%;  
    filter: invert(); 
    position: relative;
    top: 40%;
}
.box-son-4{
    background-color:rgb(255,28,28);
    text-align: center;
}
.img-box-4{
    width: 50%;  
    filter: invert(); 
    position: relative;
    top: 30%;
}
.box-son-5{
    background-color: rgb(213,0,31);
    text-align: center;
}
.img-box-5{
    width: 75%;  
    filter: invert(); 
    position: relative;
    top: 35%;
}
.box-son-6{
    background-color:rgb(180,208,231);
    text-align: center;
}
.img-box-6{
    width: 65%;  
    filter: invert(); 
    position: relative;
    top: 55%;
}
.box-son-7{
    background-color:rgb(13,36,129);
    text-align: center;
}
.img-box-7{
    width: 70%;  
    filter: invert(); 
    position: relative;
    top: 40%;
}
.box-son-8{
    background-color:rgb(255,216,48);
    text-align: center;
}
.img-box-8{
    width: 50%;  
    filter: invert(); 
    position: relative;
    top: 30%;
}
/* start section 6 */
.container-section-6{
    width: 100%;
    height: 250px;
    background-color: turquoise;   
}
.info-section-6{
    width: 70%;
    margin: 0 auto; 
}
.text-section-6{
    display: inline-block;
    font-size: 40px;
    color: rgb(97,8,43);
    line-height: 40px;
    margin-top: 70px;
}
.button{
    background-color: whitesmoke;
    color: black;
    margin-left: 200px;
    margin-top: 75px;
    font-size: 20px; 
    vertical-align: top;   
}
/* start section 6 */
.container-section-7{
    width: 70%;
    margin: 0 auto;
}
.box-section-7{
    padding: 25px 0px;
    border-top: 1px black solid;
}
.list-section-7:last-child{
    border-bottom: 1px black solid;
}
.arrow{
    font-size: 15px;
    margin-right: 60px;

}

/* start footer */
#container-footer{
    width: 100%;
    height: 600px;
    background-color: black;
    margin-top: 50px;
    color: rgb(241, 241, 241);   
}
.list-footer{
    position: relative;
    top: 20%;
    left: 12%;
    padding-left: 40px;
}
.list-footer h4{
    font-size: 20px;
    margin-bottom: 20px;

}
.ul-footer{
    list-style: none;
    line-height: 30PX;
    font-size: 15px;
}

.nav-footer{
    width: 7%;
    border-top: 1px white solid;
    position: relative;
    top: 60%;
    left: 15%;
}
.it{
    position: relative;
    bottom: 150px;
    font-size: 15px;
}
.mondo-img{
    width: 24px;
    position: relative;
    bottom: 150px;
    filter: invert();
}